@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
.cimage{
    background-color: #388ee7;
    background-image: url("../../assets/Images/cloudbg@1X.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    color:white;
    height: 392px;
    width: 1202px;
    background-position: center bottom;
    display: flex;
    justify-content: center;
}
.myblock{
    width: 1202px;
    display: inline-flex;
    justify-content: center;
    padding:2%;
    margin: 1%;
    box-shadow: 1px 1px ;
    

}
.bottompart{
    background-color: #383b47;
    justify-content: center;
    color:white;
    height: 208px;
    width: 1202px;
}
.mrow{justify-content: center;font-family: 'Open Sans', sans-serif;
    
}
.mdate{
    padding-top:5px;font-size: 20px;display:flex;
    justify-content: center;
}
.mcity{
    justify-content: center;
    font-size: 36px;
    display: flex;
    padding-top: 40px;
   
    
}
.mdes{
    padding-top: 5px;
    font-size: 20px;
    justify-content: center;
    display: flex;
    padding-left: 70%;
    margin-left: 30%;
    
    
}
.mtemp{
    justify-content: center;
    font-size: 40px;
    display: flex;
    padding-top: -20px;
    padding-right: 80%;
}
.mntemp{
    padding-top:40px;font-size: 18px;display:flex;
    justify-content: center;
    padding-right: 80%;

}
.mmtemp{
    font-size: 18px;display:flex;
    justify-content: center;
    padding-right: 80%;
}
.bcol1{
    justify-content: center;
    padding-top: 7%;
    font-family:'Open Sans', sans-serif ;
}
.mcitydetail{
    margin-left: 7%;
    padding-left: 7%;
    display: inline-block;
    flex-wrap: flex;
}