

<div class="bgimg justify-content-center">
  <div class="navbar navbar-expand-md navbar-dark justify-content-center mynav"> <a> <img height="46" width="258"class="img-responsive" src="../assets/Images/Logo@1X.png" alt="logo"></a></div>
  <div class=" navbar justify-content-center mynav">
    <input class="rounded" type="text" [(ngModel)]="newCity">
    <button class="rounded"  (click)="addCity()">Add City</button></div>


<div>
<router-outlet></router-outlet>
</div>
  
</div>
<div class="col-md-4 footer-four">
  <h5>Contact Us</h5>
    <img src="../assets/Images/Rectangle10@1X.png">  
         
</div>